.container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  
  button:focus {
    outline: none;
  }
  
  .lista {
    display: flex;
    flex-direction: column;
  }
  
  .link {
    cursor: pointer;
  }
  .link:hover {
    text-decoration: underline;
    color: #41e9ff;
  }
  
  