.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

button:focus {
  outline: none;
}

.lista {
  display: flex;
  flex-direction: column;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #2b64ff;
  text-decoration: underline;
}